<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
</head>
<body>
<h4 layout:fragment="title">User List</h4>
<th:block layout:fragment="content">
    <table class="table table-bordered table-striped" id="table">
        <thead class="table-secondary">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Phone</th>
            <th>E-mail</th>
            <th>Role</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
    </table>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        window.addEventListener('DOMContentLoaded', () => {
            const openUrl = /*[[${openUrl}]]*/'';
            new DataTable('#table', {
                ajax: {
                    url: /*[[${dataUrl}]]*/'',
                    dataSrc: ''
                },
                columns: [
                    {data: 'name'},
                    {data: 'username'},
                    {
                        data: 'phone',
                        type: 'text'
                    },
                    {
                        data: null,
                        render: (row) => `${row.email}<a class="ms-2" href="mailto:${row.email}" target="_blank"><i class="bi bi-envelope-open text-primary"></i></a>`
                    },
                    {data: 'role'},
                    {
                        data: 'active',
                        render: data => data ? 'Active' : 'Inactive'
                    },
                    {
                        data: null,
                        orderable: false,
                        className: 'dt-center',
                        render: (row) => `<a href="${openUrl}?id=${row.id}" class="bi bi-box-arrow-up-right text-primary"></a>`
                    }
                ],
                layout: {
                    topStart: {
                        buttons: [
                            {
                                text: '<span class="text-white">Add User</span>',
                                className: 'btn btn-primary',
                                action: () => window.location.href = openUrl
                            }
                        ]
                    },
                    topEnd: 'search',
                    bottomStart: 'info',
                    bottomEnd: ['pageLength', 'paging'],
                },
                language: {
                    lengthMenu: "_MENU_",
                    search: "Search: ",
                    searchPlaceholder: "Type to search...",
                }
            });
        });
    </script>
</th:block>
</body>
</html>