@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#parent {
    height: 100vh;
    grid-template-columns: 1fr repeat(9, 1fr) 2fr;
    grid-template-rows: 60px 1fr 40px;
    min-width: 1000px;
}

#logo {
    border-bottom: 1px solid #a3a3a3;
    margin-bottom: 0 !important;
}

#logo img {
    width: 59px;
}

#side-menu {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    border-right: 1px solid #a3a3a3;
    min-width: 200px;
    overflow-y: scroll;
    scrollbar-width: none;
}

#side-menu ul {
    padding-top: 4px;
}

#side-menu ul li a {
    padding: 3px 0 3px 15px;
    border-radius: 10px;
    margin: 0 5px 4px 5px;
    font-weight: bold;
}

#side-menu ul li a:hover {
    background-color: #e9e9e9;
    transition: 0.2s;
}

#side-menu::-webkit-scrollbar {
    display: none;
}

.active-menu {
    background-color: rgba(0, 123, 255, 0.20) !important;
    color: rgba(66, 133, 244, 0.93) !important;
}

.active-menu i {
    color: rgba(66, 133, 244, 0.93) !important;
}

#title-bar {
    grid-column: 3 / 11;
    grid-row: 1 / 1;
    padding-left: 10px;
    border-bottom: 1px solid #a3a3a3;
}

#title-bar h4 {
    margin: 0 0 0 10px !important;
}

#profile-menu {
    grid-column: 11 / 12;
    grid-row: 1 / 2;
    border-bottom: 1px solid #a3a3a3;
}

.dropdown-toggle::after {
    display: none !important;
}

#main-content {
    grid-column: 3 / -1;
    grid-row: 2 / 3;
    padding: 10px 20px;
    overflow-y: auto;
}

#footer {
    grid-column: 3 / -1;
    grid-row: 3 / 4;
    border-top: 1px solid #a3a3a3;
    color: #333333;
    font-size: 12px;
}